.dog-container {
  padding-top: 7%;

  .dog-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 30px;
      padding-top: 40px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      padding: 40px;
      padding-top: 50px;
    }
  }

  .card-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-container-title {
      font-size: x-large;
      font-weight: bold;

      @media (min-width: 640px) {
        font-size: xx-large;
      }

      @media (min-width: 1024px) {
        font-size: xxx-large;
      }
    }

    .card-container-info {
      color: darkgray;
    }
  }
}
