.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  position: relative;
  z-index: 1;
}

.big-text {
  font-size: xxx-large;
  font-weight: 800;
  margin: 0;
}

.banner a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.3s;
  margin-top: 1em;
}

.banner a:hover {
  background: #333;
  color: #fff;
  padding: 1em 2.5em;
}

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .big-text {
    font-size: larger;
  }

  .banner a {
    font-size: 4vw;
    padding: 0.8em 1.5em;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 100px;
  }

  .big-text {
    font-size: large;
  }

  .banner a {
    font-size: 5vw;
    padding: 0.6em 1em;
  }
}
