.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex-shrink: 0;
}

.logo img {
  height: 40px;
}

.nav {
  flex-grow: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  font-variant-caps: all-small-caps;
  font-size: medium;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #00b2ca;
}
.menu li a.active {
  color: #f79256;
  font-weight: bold;
}
