.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.logo {
  flex-shrink: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .large-screen-menu-item {
    display: none;
  }
  .mobile-menu {
    display: flex;
    justify-content: flex-end;
  }
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  font-variant-caps: all-small-caps;
  font-size: large;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #00b2ca;
}
.menu li a.active {
  color: #f79256;
  font-weight: bold;
}
