.faq-accordion {
  font-size: 12px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}
.df {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  .card-container-text {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-container-title {
      font-size: x-large;
      font-weight: bold;

      @media (min-width: 640px) {
        font-size: xx-large;
      }

      @media (min-width: 1024px) {
        font-size: xxx-large;
      }
    }

    .card-container-info {
      padding: 20px;
      text-align: center;
      color: darkgray;
    }
  }
}

.faq-logo {
  max-width: 70%;
  border-radius: 50%;
}

.faq-image-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.faq-accordion-container {
  width: 90%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  background-color: #fbd1a2;
  margin-top: 40px;
}

.faq-accordion-container:before {
  content: url("../Faq/assets/faq-accordion-card-main/images/illustration-woman-online-mobile.svg");
  position: absolute;
  min-width: 250px;
  top: -115px;
  left: 50%;
  transform: translateX(-50%);
}

.faq-accordion-question {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.faq-accordion-question-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 10px 0;
  background: transparent;
  color: hsl(237, 12%, 33%);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  text-align: left;
}

.faq-accordion-question-button:hover {
  color: hsl(14, 88%, 65%);
}

.faq-accordion-question-button-active {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}

.faq-accordion-question-button-active:after {
  transform: rotate(180deg);
}

.faq-accordion-question-button-active:hover {
  color: hsl(238, 29%, 16%);
}

.faq-accordion-answer {
  color: hsl(240, 6%, 50%);
  height: 0px;
  min-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faq-accordion-answer-active {
  min-height: 50px;
}

@media only screen and (min-width: 600px) {
  .faq-accordion-container {
    height: 75%;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    background-color: #fbd1a2;
  }

  .faq-image-container {
    width: 50%;
  }

  @keyframes dropbox {
    from {
      top: 15%;
      opacity: 0;
    }
    to {
      top: 60%;
    }
  }

  .faq-accordion-content {
    padding-top: 40px;
    width: 50%;
  }

  .faq-accordion-title {
    text-align: left;
  }
}
