.parent-modal-title {
  font-family: "Montserrat";
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.modal-paper {
  animation: slide-up-fade-in 0.3s ease-out forwards !important;
}
@keyframes slide-up-fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
